  <form id="msform" (ngSubmit)="getResults()" [formGroup]="quizForm">
    <div class="col-sm-12">
            <mat-horizontal-stepper>
                <mat-step *ngFor="let question of questions; let i = index " formArrayName="answers">
                    <ng-template matStepLabel> Question {{ i + 1 }}</ng-template>
                    <h3>Question: {{ question.name }} </h3>
                    <mat-form-field class="form-field">
                            <textarea matInput type="text" placeholder="Type Your Answer Here" [formControlName]="i"></textarea>
                    </mat-form-field>

                    <div *ngIf="i < questions.length - 1 ">
                        <button type="button" mat-raised-button matStepperNext color="accent">Next</button>
                    </div>
                    
                    <div *ngIf="i == questions.length -1">
                        <button mat-raised-button type="submit" color="primary" class="ml-2">Submit</button>
                    </div>

                    <div *ngIf="i > 0">
                        <button type="button" mat-raised-button matStepperPrevious color="primary">Previous</button>
                    </div>

                </mat-step>

            </mat-horizontal-stepper>
    </div>
</form>