<div class="container mt-2" *ngIf="quiz && quiz.length; else elseTemplate">
  <div class="w-100" *ngIf="!showResults">
    <div class="header">
      <span class="white-text float-left"
        >Question {{ quizQuestionIndex + 1 }}</span
      >

      <div class="float-right">
        <span class="blue-text"> Answered: {{ questionsInfo.answered }} </span>
        <span class="green-text"> Correct: {{ questionsInfo.correct }} </span>
        <span class="white-text"> Total: {{ quiz.length }}</span>

        <button
          class="btn btn-primary"
          *ngIf="questionsInfo.answered === quiz.length && quiz.length !== 0"
          (click)="showResults = true"
        >
          Results
        </button>
      </div>
    </div>

    <br />
    <br />

    <div class="card bg-light mb-3">
      <div class="card-header">
        {{ this.quiz[quizQuestionIndex].question.name }}
      </div>

      <div class="card-body">
        <ng-container *ngIf="this.quiz[quizQuestionIndex].correct === null">
          <input #answer placeholder="Answer to the question" />

          <button
            class="btn btn-primary float-right"
            (click)="checkQuestionAnswer(answer.value)"
          >
            Apply answer
          </button>

          <div class="input-info">
            Note, that empty answeres are not allowed.
          </div>
        </ng-container>

        <span *ngIf="this.quiz[quizQuestionIndex].correct !== null">
          <input
            class="full-width {{
              this.quiz[quizQuestionIndex].correct ? 'correct' : 'incorrect'
            }}"
            disabled
            value="{{ this.quiz[quizQuestionIndex].givenAnswer }}"
          />

          <span
            class="validation-result {{
              this.quiz[quizQuestionIndex].correct ? 'correct' : 'incorrect'
            }}"
          >
            Answer is
            {{ this.quiz[quizQuestionIndex].correct ? "" : "in" }}correct
          </span>
        </span>
      </div>
    </div>

    <div>
      <button
        *ngIf="quizQuestionIndex > 0"
        class="btn btn-primary float-left"
        (click)="toPreviousQuestion()"
      >
        To previous
      </button>

      <button
        *ngIf="quizQuestionIndex < quiz.length - 1"
        class="btn btn-primary float-right"
        (click)="toNextQuestion()"
      >
        To next
      </button>
    </div>
  </div>
  <div class="w-100" *ngIf="showResults">
    <div id="quizResults" class="header text-center">
      <div>Quiz results:</div>

      <div class="white-text">Total: {{ quiz.length }}</div>
      <div class="blue-text">Answered: {{ questionsInfo.answered }}</div>
      <div class="green-text">Correct: {{ questionsInfo.correct }}</div>
    </div>

    <div>
      <ng-container *ngFor="let item of this.quiz; let i = index">
        <div class="card bg-light mb-3">
          <div class="card-header">{{ i + 1 }}. {{ item.question.name }}</div>

          <div class="card-body">
            <input
              class="full-width {{ item.correct ? 'correct' : 'incorrect' }}"
              disabled
              value="{{ item.givenAnswer }}"
            />

            <span
              class="validation-result {{
                item.correct ? 'correct' : 'incorrect'
              }}"
              >Answer is {{ item.correct ? "" : "in" }}correct</span
            >

            <span *ngIf="!item.correct">
              Correct Answer is: {{ item.question.answer }}</span
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #elseTemplate>
  <p class="text-center">Sorry, there are no questions available yet</p>
</ng-template>
