<div class="container" id="search">
    <mat-form-field class="search-field">
      <input #searchText id="searchText" matInput placeholder="Enter Search query"/>
    </mat-form-field>
      <button class="float-right my-3" mat-raised-button color="primary" (click)="searchQuestionsWithText(searchText.value)">
        <i class="fab fa-searchengin"></i> Search
      </button>
</div>

<div class="container" style="height: 4em;">
  <button mat-raised-button color="primary" class="float-right my-3 ml-2" [routerLink]="['/quiz']">
    <mat-icon>
      assignment
    </mat-icon>

    Take Quiz 2
  </button>
  <button mat-raised-button color="primary" class="float-right my-3 ml-2" (click)="startQuiz()">
    <mat-icon>
      assignment
    </mat-icon>

    Take Quiz 1
  </button>
  <button mat-raised-button color="primary" class="float-right my-3" (click)="addQuestion()">
    <mat-icon>
      add
    </mat-icon>
    Add Question
  </button>
</div>

<div class="container mt-2" *ngIf="questions && questions.length; else elseTemplate">
    <div class="w-100">
      <ol>
        <li *ngFor="let question of filteredQuestions; let i = index">
            <mat-card mat-line class="mb-3" >
                <mat-card-header>
                  <mat-card-title>
                      {{ i + 1 }}. {{ question.name }}
                  </mat-card-title>
                  <span class="spacer"></span>
                  <button mat-button (click)="editQuestion(question)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button mat-button (click)="deleteQuestion(question)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <h5 class="pl-4"> Answer: {{ question.answer }}</h5>
                </mat-card-content>
              </mat-card>
        </li>
      </ol>
      <div id="noSearchItems" *ngIf="filteredQuestions?.length === 0">
        No questions found by executing search on name and answer
      </div>
    </div>
  </div>


<ng-template #elseTemplate>
  <p class="text-center">
    No questions to create one
    <span class="link" (click)="addQuestion()">
      click here.
    </span>
  </p>
</ng-template>

