@import '~@angular/material/theming';

@include mat-core();


$input-primary: mat-palette($mat-deep-purple);

$input-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).\
$input-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$input-theme: mat-light-theme($input-primary, $input-accent, $input-warn);

$input-card-theme: mat-dark-theme($input-primary, $input-accent, $input-warn);
// @include mat-core-theme($input-card-theme);
// @include mat-card-theme($input-card-theme);

li, .custom-card {
  @include angular-material-theme($input-card-theme);
}
.search-field{
  margin-left: 2rem;
}

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-green);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);