/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100% !important;
}

.mat-horizontal-content-container {
    height: 100vh !important;
 }

 .mat-horizontal-stepper-content {
     width: 30%;
     height: 30%;
     position: absolute;
     top: 35%;
     left: 40%;
 }
