form { 
    margin: auto; 
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 90%;
    align-content: center;
    margin-left: 5%;
}

.card-height {
    height: 12rem;
}
h2 {
    padding-left: 7rem;
}