<form class="w-50 pl-5" [formGroup]="question" (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group w-50 ml-5 pl-5 text-center">
    <label for="question">Question</label>
    <input type="text" class="form-control" aria-describedby="questionHelp" placeholder="Enter Question" formControlName="name" required>
  </div>
  <div class="form-group w-50 ml-5 pl-5 text-center">
    <label for="answer">Answer</label>
    <input type="text" class="form-control" aria-describedby="answerHelp" placeholder="Enter Answer" formControlName="answer" required>
  </div>
  <div class="w-50">
    <ng-container *ngIf="editurl == ''; else elseTemplate">
      <button type="submit" class="btn btn-primary float-right" [disabled]="!form.form.valid"> Add Question</button>
    </ng-container>
    <ng-template #elseTemplate>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!form.form.dirty"> Update Question</button>
    </ng-template>
    
  </div>
</form>
